html, body {
    height: 100%;
}

.container {
    height: 90%;
    max-width: 75%;
    display: flex;
    align-items: center;
}

.intro {
    align-self: center;
    text-align: left;
    padding: 40px;
    font-size: 18px;
    width: 100%;
    background-color: var(--card-background);
    border-radius: 8px;
    box-shadow: 0 0 5px var(--taupe);;
}

.bio {
    margin-bottom: 30px;
}

.intro-column {
    text-align: center;
    padding: 0;
}

@media (max-width: 767px) {
    html, body {
        height: auto;
        width: 100%;
    }

    .container {
        max-width: 100%;
        display: inherit;
        padding: 10px;
    }

    .intro-column {
        text-align: left;
    }

    .intro {
        max-width: 100%;
        max-height: 100%;
        margin: 0;
    }
}