@import "variables.css";
@import "animations.css";

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

.landing-container {
    text-align: right;
    display: flex;
    flex-direction: column;
}

.links * {
    transition: all 0.5s;
}

.links {
    align-items: flex-start;
}

.links li {
    list-style-type: none;
}

.links a {
    text-decoration: none;
    color: var(--landing-link);
    font-size: 65px;
}

.links a:hover {
    text-decoration: none;
    color: var(--landing-link-highlight);
}

.portfolio:hover, .about:hover {
    display: flex;
    animation: bob-animation 2s infinite;
}

.landing-row {
    display: flex;
    align-items: center;
    height: 100vh;
}

.social-icons * {
    display: inline;
    margin-left: 15px;
    margin-top: 15px;
}

.social-icons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.social-icons img {
    width: 80px;
    height: 80px;
}

.name {
    color: var(--name);
    font-size: 5.5em;
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    text-shadow: 1px 2px 1px var(--nostalgic-blue-dark);
}

.description {
    font-size: 3.5em;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    color: var(--off-black-lite);
}

.social-icons img {
    transition: 0.3s ease-in-out;
}

.social-icons img:hover {
    transform: scale(1.15);
}

@media (max-width: 767px) {
    .name {
        margin: 0;
        font-size: 4.5em;
    }

    .description {
        font-size: 2.5em;
    }

    body {
        padding: 15px;
    }

    .landing-row {
        flex-direction: column;
        vertical-align: center;
    }

    .landing-container {
        text-align: center;
    }

    .landing-container,
    .links,
    .social-icons {
        text-align: center;
        margin-bottom: 20px;
    }

    .social-icons img {
        margin-left: 10px;
        margin-right: 10px;
    }

    ul {
        padding: 0;
    }

    .links a {
        font-size: 3em;
        margin-top: 20px;
    }

    .social-icons * {
        margin-left: 0;
        margin-top: 20px;
    }

    .social-icons img {
        width: 50px;
        height: 50px;
    }
}