html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

.links * {
    transition: all 0.5s;
}

.links li {
    list-style-type: none;
}

.links a {
    text-decoration: none;
    color: #E34A6F;
    font-size: 75px;
    margin: 5px;
}

.links a:hover {
    text-decoration: none;
    color: #EDEBA0;
}

.landing-container {
    text-align: right;
}

.landing-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.social-icons * {
    display: inline;
    margin-left: 15px;
    margin-top: 15px;
}

.social-icons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.social-icons img {
    width: 80px;
    height: 80px;
}

.name {
    color: #2c2a4a;
    font-size: 5.5em;
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
}

.description {
    font-size: 3.5em;
    font-family: 'Oswald', sans-serif;
    margin: 5px 0;
    font-weight: lighter;
    color: #ffffff;
}

@media (max-width: 767px) {

    .name {
        font-size: 4.5em;
    }

    .description {
        font-size: 2.5em;
    }

    body {
        padding: 15px;
    }

    .landing-row {
        flex-direction: column;
    }

    .landing-container {
        text-align: center;
    }

    .landing-container,
    .links,
    .social-icons {
        text-align: center;
        margin-bottom: 20px;
    }

    ul {
        padding: 0;
    }

    .links a {
        text-decoration: none;
        color: #E34A6F;
        font-size: 2.5em;
        margin: 5px;
    }

    .social-icons * {
        margin-left: 0;
        margin-top: 20px;
    }

    .social-icons img {
        width: 50px;
        height: 50px;
    }
}