@import "variables.css";

.profile-introduction {
    text-align: left;
    padding: 25px 40px;
    margin: 20px 25px;
    font-size: 18px;
    background-color: var(--card-background);
    border-radius: 8px;
    box-shadow: 0 0 5px var(--taupe);;
}

H3 {
    color: var(--site-h2);
}
.profile-introduction .container {
    max-width: 100%;
}

.introduction-header {
    max-width: 100%;
}

.introduction-header h1 {
    color: var(--site-h1);
}

.intro-column {
    padding: 0;
}

.project-container {
    max-width: 350px;
    margin: 10px;
    background-color: var(--card-background);
    border-radius: 8px;
    box-shadow: 0 0 5px var(--taupe);
    position: relative;
    padding: 20px 20px 80px;
    transition: transform 0.2s ease-in-out;
}

.project-container:hover {
    transform: scale(1.02);
}

.repo-link {
    align-items: center;
}

.project-container .repo-link img {
    float: right;
    width: 40px;
    height: 40px;
}

.project-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 20px;
}

.project-title {
    color: var(--site-h2);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.project-description {
    font-size: 16px;
    margin-bottom: 20px;
}

.action-row {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .profile-introduction {
        margin: 15px 0;
        /*text-align: center;*/
    }
}