/* 
COLOUR PALETTE
#32373B onyx
#BCABAE rose quartz
#8075FF medium slate blue
#E34A6F cerise
#EDEBA0 vanilla
*/

body {
    margin: 0;
    height: 100%;
    background-size: cover;
    background-color: #DAC7C9;
    font-family: 'Oswald', sans-serif;
}

/* Header styles */
header {
    margin-top: 10px;
    background-color: #8A9BB1;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: sticky;
    top: 0;
}

/* Navigation styles */
.nav-links {
    display: inline-block;
}

.nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Vertically center items */
}

.nav-links li {
    margin-right: 20px; /* Adjust margin between list items */
}

.nav-links a {
    text-decoration: none;
    color: #32373B;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    display: flex;
    align-items: center;
}

.nav-links a:hover {
    color: #E34A6F;
}

.nav-links img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.portfolio {
    display: flex;
    align-items: center;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    flex-direction: column;
}

h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #E34A6F;
    border-bottom: 3px solid #BCABAE;
}


span {
    margin: 0 5px 0 15px;
}

/* Button styles */
button {
    padding: 10px 20px;
    border: none;
    margin-top: 15px;
    font-family: 'Oswald', sans-serif;
    border-radius: 4px;
    background: #E34A6F;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s;
}

button a {
    color: #ffffff;
}

button:hover {
    background-color: #F36D8F;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

button:hover a {
    color: #ffffff;
    text-decoration: none;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.row {
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
}