:root {
    /*  new palette */
    --off-black: #3f0d0c;
    --off-black-lite: #671010;
    --taupe: #8d6f57;
    --vanilla: #d8d0c5;
    --vanilla-lite: rgba(255, 250, 238, 0.85);
    --cream: #d9c4a9;
    --gold: #d9b061;

    /*  old palette */
    --onyx: #32373B;
    --rose-quartz: #BCABAE;
    --cerise: #E34A6F;
    --light-cerise: #F36D8F;
    /*--vanilla: #EDEBA0;*/
    --dark-slate-blue: #2c2a4a;
    --nostalgic-blue: #8A9BB1;


    /*--btn-primary: var(--cerise);*/
    /*--btn-primary-hightlight: var(--light-cerise);*/

    /*--site-background: var(--rose-quartz);*/
    /*--site-text: var(--dark-slate-blue);*/
    /*--site-h2: var(--cerise);*/
    /*--underline: var(--rose-quartz);*/

    /*--header: var(--nostalgic-blue);*/
    /*--header-link: var(--dark-slate-blue);*/
    /*--header-link-hover: var(--vanilla);*/
    /*--header-shadow: var(--dark-slate-blue);*/

    /*--landing-link: var(--cerise);*/
    /*--landing-link-highlight: var(--vanilla);*/

    --btn-primary: var(--off-black-lite);
    --btn-primary-hightlight: var(--nostalgic-blue);

    --site-background: var(--vanilla);
    --site-text: var(--off-black);
    --site-h1: var(--off-black-lite);
    --site-h2: var(--off-black-lite);
    --underline: var(--cream);

    --header: var(--vanilla);
    --header-link: var(--off-black);
    --header-link-hover: var(--off-black-lite);
    --header-shadow: var(--taupe);

    --name: var(--off-black);
    --landing-link: var(--off-black);
    --landing-link-highlight: var(--nostalgic-blue);

    --bg-white: var(--gold);
    /*--card-background: var(rgba(0, 0, 0, 0));*/
    --card-background: var(--vanilla-lite);
}